In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_excel('DDW-C18-0000.xlsx')
df

,"C-18 POPULATION BY BILINGUALISM, TRILINGUALISM, AGE AND SEX",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,State,District,Area Name,Total/,Age-group,Number speaking second language,NaN,NaN,Number speaking third language,NaN,NaN
1,code,code,NaN,Rural/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Urban,NaN,Persons,Males,Females,Persons,Males,Females
3,1,2,3,4,5,6,7,8,9,10,11
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1080,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,25-29,13065,7012,6053,4364,2355,2009
1081,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,30-49,38406,21301,17105,13320,7824,5496
1082,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,50-69,12899,7903,4996,4177,2842,1335
1083,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,70+,1644,1016,628,432,305,127
1084,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,134,70,64,38,19,19

In [3]:
df.head(10)

,"C-18 POPULATION BY BILINGUALISM, TRILINGUALISM, AGE AND SEX",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,State,District,Area Name,Total/,Age-group,Number speaking second language,NaN,NaN,Number speaking third language,NaN,NaN
1,code,code,NaN,Rural/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Urban,NaN,Persons,Males,Females,Persons,Males,Females
3,1,2,3,4,5,6,7,8,9,10,11
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,00,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
6,00,00,INDIA,Total,5-9,15649192,8166843,7482349,1844108,978151,865957
7,00,00,INDIA,Total,10-14,34488492,18133423,16355069,7254335,3831131,3423204
8,00,00,INDIA,Total,15-19,42424599,22750908,19673691,12626717,6792766,5833951
9,00,00,INDIA,Total,20-24,41344406,22386694,18957712,12834334,7067614,5766720

In [4]:
df2 = df.iloc[5:,:]
df2.head(10)

,"C-18 POPULATION BY BILINGUALISM, TRILINGUALISM, AGE AND SEX",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
5,00,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
6,00,00,INDIA,Total,5-9,15649192,8166843,7482349,1844108,978151,865957
7,00,00,INDIA,Total,10-14,34488492,18133423,16355069,7254335,3831131,3423204
8,00,00,INDIA,Total,15-19,42424599,22750908,19673691,12626717,6792766,5833951
9,00,00,INDIA,Total,20-24,41344406,22386694,18957712,12834334,7067614,5766720
10,00,00,INDIA,Total,25-29,35924045,19695033,16229012,10857171,6144045,4713126
11,00,00,INDIA,Total,30-49,96443870,55866320,40577550,27466884,16824473,10642411
12,00,00,INDIA,Total,50-69,39729782,24306735,15423047,10916361,7385967,3530394
13,00,00,INDIA,Total,70+,7962347,4813671,3148676,1954539,1362695,591844
14,00,00,INDIA,Total,Age not stated,1022037,576756,445281,255131,149990,105141

In [5]:
df2.columns = ['State','District','Area','Region','Age_Group','Sec_Lang_Tot','Sec_Lang_M','Sec_Lang_F','Third_Lang_Tot','Third_Lang_M','Third_Lang_F']
df2

,State,District,Area,Region,Age_Group,Sec_Lang_Tot,Sec_Lang_M,Sec_Lang_F,Third_Lang_Tot,Third_Lang_M,Third_Lang_F
5,00,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
6,00,00,INDIA,Total,5-9,15649192,8166843,7482349,1844108,978151,865957
7,00,00,INDIA,Total,10-14,34488492,18133423,16355069,7254335,3831131,3423204
8,00,00,INDIA,Total,15-19,42424599,22750908,19673691,12626717,6792766,5833951
9,00,00,INDIA,Total,20-24,41344406,22386694,18957712,12834334,7067614,5766720
...,...,...,...,...,...,...,...,...,...,...,...
1080,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,25-29,13065,7012,6053,4364,2355,2009
1081,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,30-49,38406,21301,17105,13320,7824,5496
1082,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,50-69,12899,7903,4996,4177,2842,1335
1083,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,70+,1644,1016,628,432,305,127
1084,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,134,70,64,38,19,19

In [6]:
df2.reset_index(drop = True, inplace = True)
df2

,State,District,Area,Region,Age_Group,Sec_Lang_Tot,Sec_Lang_M,Sec_Lang_F,Third_Lang_Tot,Third_Lang_M,Third_Lang_F
0,00,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
1,00,00,INDIA,Total,5-9,15649192,8166843,7482349,1844108,978151,865957
2,00,00,INDIA,Total,10-14,34488492,18133423,16355069,7254335,3831131,3423204
3,00,00,INDIA,Total,15-19,42424599,22750908,19673691,12626717,6792766,5833951
4,00,00,INDIA,Total,20-24,41344406,22386694,18957712,12834334,7067614,5766720
...,...,...,...,...,...,...,...,...,...,...,...
1075,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,25-29,13065,7012,6053,4364,2355,2009
1076,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,30-49,38406,21301,17105,13320,7824,5496
1077,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,50-69,12899,7903,4996,4177,2842,1335
1078,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,70+,1644,1016,628,432,305,127
1079,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,134,70,64,38,19,19

In [7]:
df2 = df2.drop(['District'], axis= 1 )
df2

,State,Area,Region,Age_Group,Sec_Lang_Tot,Sec_Lang_M,Sec_Lang_F,Third_Lang_Tot,Third_Lang_M,Third_Lang_F
0,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
1,00,INDIA,Total,5-9,15649192,8166843,7482349,1844108,978151,865957
2,00,INDIA,Total,10-14,34488492,18133423,16355069,7254335,3831131,3423204
3,00,INDIA,Total,15-19,42424599,22750908,19673691,12626717,6792766,5833951
4,00,INDIA,Total,20-24,41344406,22386694,18957712,12834334,7067614,5766720
...,...,...,...,...,...,...,...,...,...,...
1075,35,ANDAMAN & NICOBAR ISLANDS,Urban,25-29,13065,7012,6053,4364,2355,2009
1076,35,ANDAMAN & NICOBAR ISLANDS,Urban,30-49,38406,21301,17105,13320,7824,5496
1077,35,ANDAMAN & NICOBAR ISLANDS,Urban,50-69,12899,7903,4996,4177,2842,1335
1078,35,ANDAMAN & NICOBAR ISLANDS,Urban,70+,1644,1016,628,432,305,127
1079,35,ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,134,70,64,38,19,19

In [8]:
for i in range(4,10):
    df2.iloc[:,i] = pd.to_numeric(df2.iloc[:,i])

In [9]:
result_df = pd.DataFrame()

result_df['Area'] = df2['Area'].unique()
result_df

                         Area
0                       INDIA
1             JAMMU & KASHMIR
2            HIMACHAL PRADESH
3                      PUNJAB
4                  CHANDIGARH
5                 UTTARAKHAND
6                     HARYANA
7                NCT OF DELHI
8                   RAJASTHAN
9               UTTAR PRADESH
10                      BIHAR
11                     SIKKIM
12          ARUNACHAL PRADESH
13                   NAGALAND
14                    MANIPUR
15                    MIZORAM
16                    TRIPURA
17                  MEGHALAYA
18                      ASSAM
19                WEST BENGAL
20                  JHARKHAND
21                     ODISHA
22               CHHATTISGARH
23             MADHYA PRADESH
24                    GUJARAT
25                DAMAN & DIU
26       DADRA & NAGAR HAVELI
27                MAHARASHTRA
28             ANDHRA PRADESH
29                  KARNATAKA
30                        GOA
31                LAKSHADWEEP
32                     KERALA
33                 TAMIL NADU
34                 PUDUCHERRY
35  ANDAMAN & NICOBAR ISLANDS

In [10]:
pop_df = pd.read_excel('DDW_PCA0000_2011_Indiastatedist.xlsx')
pop_df

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,0,0,0,0,0,0,India,India,Total,249501663,...,5820403,1420348,491424,928924,5518450,3082613,2435837,728966109,291330383,437635726
1,0,0,0,0,0,0,India,India,Rural,168612897,...,5640822,1154975,386077,768898,3803400,1972348,1831052,485005760,200944045,284061715
2,0,0,0,0,0,0,India,India,Urban,80888766,...,179581,265373,105347,160026,1715050,1110265,604785,243960349,90386338,153574011
3,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Total,2119718,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Rural,1553433,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,South Andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,South Andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,South Andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [11]:
result_df['rural-tri'] = np.nan
result_df['urban-tri'] = np.nan
result_df['rural-bi'] = np.nan
result_df['urban-bi'] = np.nan
result_df['rural-mono'] = np.nan
result_df['urban-mono'] = np.nan
result_df['rural-pop'] = np.nan
result_df['urban-pop'] = np.nan

In [12]:
# Calculating the rural/urban Trilingual,bilingual,monolingual and population 
for i in result_df.index:
    rural_pop= pop_df[(pop_df['Name'].str.upper() == result_df.iloc[i,0].upper()) & (pop_df['TRU'] == 'Rural')].iloc[0]['TOT_P']
    urban_pop = pop_df[(pop_df['Name'].str.upper() == result_df.iloc[i,0].upper()) & (pop_df['TRU'] == 'Urban')].iloc[0]['TOT_P']
    rural_third = df2[(df2['Area'].str.upper() == result_df.iloc[i,0].upper()) & (df2['Region'] == 'Rural')].iloc[0]['Third_Lang_Tot']
    urban_third = df2[(df2['Area'].str.upper() == result_df.iloc[i,0].upper()) & (df2['Region'] == 'Urban')].iloc[0]['Third_Lang_Tot']
    rural_sec = df2[(df2['Area'].str.upper() == result_df.iloc[i,0].upper()) & (df2['Region'] == 'Rural')].iloc[0]['Sec_Lang_Tot']
    urban_sec = df2[(df2['Area'].str.upper() == result_df.iloc[i,0].upper()) & (df2['Region'] == 'Urban')].iloc[0]['Sec_Lang_Tot']
   


    result_df.iloc[i,1] = rural_third
    result_df.iloc[i,2] = urban_third
    result_df.iloc[i,3] = rural_sec - rural_third
    result_df.iloc[i,4] = urban_sec - urban_third
    result_df.iloc[i,5] = rural_pop - rural_sec
    result_df.iloc[i,6] = urban_pop - urban_sec
    result_df.iloc[i,7] = rural_pop
    result_df.iloc[i,8] = urban_pop
    
    
result_df

,Area,rural-tri,urban-tri,rural-bi,urban-bi,rural-mono,urban-mono,rural-pop,urban-pop
0,INDIA,35383989.0,50625591.0,127257496.0,101721694.0,671107367.0,224758840.0,833748852.0,377106125.0
1,JAMMU & KASHMIR,1258724.0,837496.0,2908514.0,1178456.0,4940822.0,1417290.0,9108060.0,3433242.0
2,HIMACHAL PRADESH,280817.0,66469.0,700701.0,194718.0,5194532.0,427365.0,6176050.0,688552.0
3,PUNJAB,4230870.0,3599043.0,2852310.0,2353001.0,10261012.0,4447102.0,17344192.0,10399146.0
4,CHANDIGARH,4353.0,317626.0,7370.0,250571.0,17268.0,458262.0,28991.0,1026459.0
5,UTTARAKHAND,70611.0,117211.0,764620.0,805314.0,6201723.0,2126813.0,7036954.0,3049338.0
6,HARYANA,562967.0,607604.0,2194575.0,2262215.0,13751817.0,5972284.0,16509359.0,8842103.0
7,NCT OF DELHI,5474.0,1352759.0,93239.0,5365742.0,320329.0,9650398.0,419042.0,16368899.0
8,RAJASTHAN,609507.0,397244.0,3637519.0,2828916.0,47253326.0,13821925.0,51500352.0,17048085.0
9,UTTAR PRADESH,1267848.0,1317816.0,9650049.0,10637896.0,144399381.0,32539351.0,155317278.0,44495063.0
10,BIHAR,1262676.0,419896.0,12667581.0,2411632.0,78411179.0,8926488.0,92341436.0,11758016.0
11,SIKKIM,118176.0,63226.0,156054.0,51543.0,182769.0,38809.0,456999.0,153578.0
12,ARUNACHAL PRADESH,292514.0,126037.0,366150.0,101244.0,407694.0,90088.0,1066358.0,317369.0
13,NAGALAND,306186.0,231295.0,499358.0,192884.0,601992.0,146787.0,1407536.0,570966.0
14,MANIPUR,376083.0,240735.0,581795.0,190007.0,1063762.0,403412.0,2021640.0,834154.0
15,MIZORAM,18117.0,34849.0,105092.0,151645.0,402226.0,385277.0,525435.0,571771.0
16,TRIPURA,111473.0,87104.0,887268.0,182756.0,1713723.0,691593.0,2712464.0,961453.0
17,MEGHALAYA,123303.0,151628.0,350395.0,196994.0,1897741.0,246828.0,2371439.0,595450.0
18,ASSAM,2969373.0,1383124.0,8812485.0,1295609.0,15025176.0,1719809.0,26807034.0,4398542.0
19,WEST BENGAL,664075.0,2216930.0,6304512.0,5840331.0,55214526.0,21035741.0,62183113.0,29093002.0
20,JHARKHAND,932202.0,660837.0,6056149.0,2351532.0,18066722.0,4920692.0,25055073.0,7933061.0
21,ODISHA,3361065.0,2164213.0,6670328.0,1629418.0,24939169.0,3210025.0,34970562.0,7003656.0
22,CHHATTISGARH,197443.0,225126.0,1897368.0,1064286.0,17513150.0,4647825.0,19607961.0,5937237.0
23,MADHYA PRADESH,562738.0,695215.0,4766617.0,3784112.0,47228049.0,15590078.0,52557404.0,20069405.0
24,GUJARAT,3031288.0,5539283.0,8417052.0,8904718.0,23246269.0,11301082.0,34694609.0,25745083.0
25,DAMAN & DIU,7809.0,26793.0,20990.0,61037.0,31597.0,95021.0,60396.0,182851.0
26,DADRA & NAGAR HAVELI,39658.0,31858.0,70674.0,56793.0,72782.0,71944.0,183114.0,160595.0
27,MAHARASHTRA,6072975.0,13651754.0,18305693.0,19389439.0,37177406.0,17777066.0,61556074.0,50818259.0
28,ANDHRA PRADESH,2361512.0,3982864.0,8500920.0,6738038.0,45499270.0,17498173.0,56361702.0,28219075.0
29,KARNATAKA,2048187.0,5783942.0,8694265.0,7726200.0,26726883.0,10115820.0,37469335.0,23625962.0
30,GOA,261781.0,479468.0,151061.0,233842.0,138889.0,193504.0,551731.0,906814.0
31,LAKSHADWEEP,2007.0,7974.0,1500.0,7072.0,10634.0,35286.0,14141.0,50332.0
32,KERALA,1360343.0,1828470.0,2453128.0,2521446.0,13657664.0,11585010.0,17471135.0,15934926.0
33,TAMIL NADU,568669.0,1878494.0,7521748.0,10447359.0,29139173.0,22591587.0,37229590.0,34917440.0
34,PUDUCHERRY,5029.0,66636.0,75952.0,244675.0,314219.0,541442.0,395200.0,852753.0
35,ANDAMAN & NICOBAR ISLANDS,38136.0,34572.0,114464.0,70253.0,84493.0,38663.0,237093.0,143488.0

In [13]:
result_df['p-value'] = np.nan
# Calculating the ratio of trilingual,bilingual and monolingual urban people to rural people
result_df['Third_Lang_Ratio'] = result_df['urban-tri'] / result_df['rural-tri']
result_df['Sec_Lang_Ratio'] = result_df['urban-bi'] / result_df['rural-bi']
result_df['First_Lang_Ratio'] = result_df['urban-mono'] / result_df['rural-mono']
# Calculating the ratio of urban population to rural population
result_df['Pop_Ratio'] = result_df['urban-pop'] / result_df['rural-pop']

for i in result_df.index:
    lang_ratios = []
    lang_ratios.extend([result_df.loc[i,'First_Lang_Ratio'],
                        result_df.loc[i,'Sec_Lang_Ratio'],
                        result_df.loc[i,'Third_Lang_Ratio']])
    
    cur_pop_ratio = result_df.loc[i,'Pop_Ratio']
# Using ttest to find the pval for each state
    _,pval = stats.ttest_1samp(lang_ratios,cur_pop_ratio)
    result_df.loc[i,'p-value'] = pval
result_df

,Area,rural-tri,urban-tri,rural-bi,urban-bi,rural-mono,urban-mono,rural-pop,urban-pop,p-value,Third_Lang_Ratio,Sec_Lang_Ratio,First_Lang_Ratio,Pop_Ratio
0,INDIA,35383989.0,50625591.0,127257496.0,101721694.0,671107367.0,224758840.0,833748852.0,377106125.0,0.332407,1.430749,0.799338,0.334907,0.452302
1,JAMMU & KASHMIR,1258724.0,837496.0,2908514.0,1178456.0,4940822.0,1417290.0,9108060.0,3433242.0,0.568997,0.665353,0.405175,0.286853,0.376945
2,HIMACHAL PRADESH,280817.0,66469.0,700701.0,194718.0,5194532.0,427365.0,6176050.0,688552.0,0.279581,0.236699,0.277890,0.082272,0.111487
3,PUNJAB,4230870.0,3599043.0,2852310.0,2353001.0,10261012.0,4447102.0,17344192.0,10399146.0,0.523689,0.850663,0.824946,0.433398,0.599575
4,CHANDIGARH,4353.0,317626.0,7370.0,250571.0,17268.0,458262.0,28991.0,1026459.0,0.592084,72.967149,33.998779,26.538221,35.406126
5,UTTARAKHAND,70611.0,117211.0,764620.0,805314.0,6201723.0,2126813.0,7036954.0,3049338.0,0.263868,1.659954,1.053221,0.342939,0.433332
6,HARYANA,562967.0,607604.0,2194575.0,2262215.0,13751817.0,5972284.0,16509359.0,8842103.0,0.270791,1.079289,1.030821,0.434291,0.535581
7,NCT OF DELHI,5474.0,1352759.0,93239.0,5365742.0,320329.0,9650398.0,419042.0,16368899.0,0.399070,247.124406,57.548258,30.126520,39.062669
8,RAJASTHAN,609507.0,397244.0,3637519.0,2828916.0,47253326.0,13821925.0,51500352.0,17048085.0,0.236601,0.651746,0.777705,0.292507,0.331029
9,UTTAR PRADESH,1267848.0,1317816.0,9650049.0,10637896.0,144399381.0,32539351.0,155317278.0,44495063.0,0.217139,1.039412,1.102367,0.225343,0.286479
10,BIHAR,1262676.0,419896.0,12667581.0,2411632.0,78411179.0,8926488.0,92341436.0,11758016.0,0.316182,0.332545,0.190378,0.113842,0.127332
11,SIKKIM,118176.0,63226.0,156054.0,51543.0,182769.0,38809.0,456999.0,153578.0,0.828855,0.535016,0.330290,0.212339,0.336058
12,ARUNACHAL PRADESH,292514.0,126037.0,366150.0,101244.0,407694.0,90088.0,1066358.0,317369.0,0.867929,0.430875,0.276510,0.220970,0.297620
13,NAGALAND,306186.0,231295.0,499358.0,192884.0,601992.0,146787.0,1407536.0,570966.0,0.747793,0.755407,0.386264,0.243835,0.405649
14,MANIPUR,376083.0,240735.0,581795.0,190007.0,1063762.0,403412.0,2021640.0,834154.0,0.745795,0.640111,0.326588,0.379231,0.412613
15,MIZORAM,18117.0,34849.0,105092.0,151645.0,402226.0,385277.0,525435.0,571771.0,0.332646,1.923552,1.442974,0.957862,1.088186
16,TRIPURA,111473.0,87104.0,887268.0,182756.0,1713723.0,691593.0,2712464.0,961453.0,0.584067,0.781391,0.205976,0.403562,0.354457
17,MEGHALAYA,123303.0,151628.0,350395.0,196994.0,1897741.0,246828.0,2371439.0,595450.0,0.347429,1.229719,0.562206,0.130064,0.251092
18,ASSAM,2969373.0,1383124.0,8812485.0,1295609.0,15025176.0,1719809.0,26807034.0,4398542.0,0.556900,0.465797,0.147020,0.114462,0.164082
19,WEST BENGAL,664075.0,2216930.0,6304512.0,5840331.0,55214526.0,21035741.0,62183113.0,29093002.0,0.356353,3.338373,0.926373,0.380982,0.467860
20,JHARKHAND,932202.0,660837.0,6056149.0,2351532.0,18066722.0,4920692.0,25055073.0,7933061.0,0.396087,0.708899,0.388288,0.272362,0.316625
21,ODISHA,3361065.0,2164213.0,6670328.0,1629418.0,24939169.0,3210025.0,34970562.0,7003656.0,0.467962,0.643907,0.244279,0.128714,0.200273
22,CHHATTISGARH,197443.0,225126.0,1897368.0,1064286.0,17513150.0,4647825.0,19607961.0,5937237.0,0.303476,1.140208,0.560928,0.265391,0.302797
23,MADHYA PRADESH,562738.0,695215.0,4766617.0,3784112.0,47228049.0,15590078.0,52557404.0,20069405.0,0.261701,1.235415,0.793878,0.330102,0.381857
24,GUJARAT,3031288.0,5539283.0,8417052.0,8904718.0,23246269.0,11301082.0,34694609.0,25745083.0,0.429452,1.827369,1.057938,0.486146,0.742049
25,DAMAN & DIU,7809.0,26793.0,20990.0,61037.0,31597.0,95021.0,60396.0,182851.0,0.638774,3.431041,2.907909,3.007279,3.027535
26,DADRA & NAGAR HAVELI,39658.0,31858.0,70674.0,56793.0,72782.0,71944.0,183114.0,160595.0,0.864934,0.803318,0.803591,0.988486,0.877022
27,MAHARASHTRA,6072975.0,13651754.0,18305693.0,19389439.0,37177406.0,17777066.0,61556074.0,50818259.0,0.490434,2.247952,1.059203,0.478169,0.825560
28,ANDHRA PRADESH,2361512.0,3982864.0,8500920.0,6738038.0,45499270.0,17498173.0,56361702.0,28219075.0,0.359147,1.686574,0.792625,0.384581,0.500678
29,KARNATAKA,2048187.0,5783942.0,8694265.0,7726200.0,26726883.0,10115820.0,37469335.0,23625962.0,0.428730,2.823933,0.888655,0.378489,0.630541
30,GOA,261781.0,479468.0,151061.0,233842.0,138889.0,193504.0,551731.0,906814.0,0.721405,1.831561,1.547997,1.393228,1.643580
31,LAKSHADWEEP,2007.0,7974.0,1500.0,7072.0,10634.0,35286.0,14141.0,50332.0,0.386916,3.973094,4.714667,3.318225,3.559296
32,KERALA,1360343.0,1828470.0,2453128.0,2521446.0,13657664.0,11585010.0,17471135.0,15934926.0,0.381538,1.344124,1.027849,0.848242,0.912072
33,TAMIL NADU,568669.0,1878494.0,7521748.0,10447359.0,29139173.0,22591587.0,37229590.0,34917440.0,0.365153,3.303317,1.388954,0.775300,0.937895
34,PUDUCHERRY,5029.0,66636.0,75952.0,244675.0,314219.0,541442.0,395200.0,852753.0,0.393157,13.250348,3.221442,1.723136,2.157776
35,ANDAMAN & NICOBAR ISLANDS,38136.0,34572.0,114464.0,70253.0,84493.0,38663.0,237093.0,143488.0,0.720846,0.906545,0.613756,0.457588,0.605197

In [14]:
#Storing the results for trilingual percentage
result_df_tri = result_df[['Area','urban-tri', 'rural-tri', 'urban-pop', 'rural-pop', 'p-value',]]

result_df_tri['urban-percentage'] = (result_df_tri['urban-tri'] / result_df_tri['urban-pop']) * 100
result_df_tri['rural-percentage'] = (result_df_tri['rural-tri'] / result_df_tri['rural-pop']) * 100

result_df_tri = result_df_tri[['Area','urban-percentage','rural-percentage','p-value']]
result_df_tri

result_df_tri.columns = ['state/ut','urban-percentage','rural-percentage','p-value']
result_df_tri.to_csv('Results/geography-india-c.csv',index=None)

C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_11848/115162156.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df_tri['urban-percentage'] = (result_df_tri['urban-tri'] / result_df_tri['urban-pop']) * 100
C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_11848/115162156.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df_tri['rural-percentage'] = (result_df_tri['rural-tri'] / result_df_tri['rural-pop']) * 100

In [15]:
#Storing the results for bilingual percentage
result_df_bi = result_df[['Area','urban-bi', 'rural-bi', 'urban-pop', 'rural-pop', 'p-value',]]

result_df_bi['urban-percentage'] = (result_df_bi['urban-bi'] / result_df_bi['urban-pop']) * 100
result_df_bi['rural-percentage'] = (result_df_bi['rural-bi'] / result_df_bi['rural-pop']) * 100

result_df_bi = result_df_bi[['Area','urban-percentage','rural-percentage','p-value']]
result_df_bi

result_df_bi.columns = ['state/ut','urban-percentage','rural-percentage','p-value']
result_df_bi.to_csv('Results/geography-india-b.csv',index=None)

C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_11848/1422909269.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df_bi['urban-percentage'] = (result_df_bi['urban-bi'] / result_df_bi['urban-pop']) * 100
C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_11848/1422909269.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df_bi['rural-percentage'] = (result_df_bi['rural-bi'] / result_df_bi['rural-pop']) * 100

In [16]:
#Storing the results for monolingual percentage
result_df_mono = result_df[['Area','urban-mono', 'rural-mono', 'urban-pop', 'rural-pop', 'p-value',]]

result_df_mono['urban-percentage'] = (result_df_mono['urban-mono'] / result_df_mono['urban-pop']) * 100
result_df_mono['rural-percentage'] = (result_df_mono['rural-mono'] / result_df_mono['rural-pop']) * 100

result_df_mono = result_df_mono[['Area','urban-percentage','rural-percentage','p-value']]
result_df_mono

result_df_mono.columns = ['state/ut','urban-percentage','rural-percentage','p-value']
result_df_mono.to_csv('Results/geography-india-a.csv',index=None)

C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_11848/4182901110.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df_mono['urban-percentage'] = (result_df_mono['urban-mono'] / result_df_mono['urban-pop']) * 100
C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_11848/4182901110.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df_mono['rural-percentage'] = (result_df_mono['rural-mono'] / result_df_mono['rural-pop']) * 100